@import "common.scss";
@import "utils.scss";

.singleBlog {
  position: relative;
  width: 380px;
  height: 400px;
  background-color: #fff;
  margin-bottom: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  &:hover {
    background-color: #eee;
  }
}

.blogThumbnail {
  width: 340px;
  height: 240px;
  padding: 24px 0;
  margin: 0 auto;
  // background-color: #000;
}

.blogStringArea {
  margin: 32px 18px;
}

.blogTitle {
  font-size: 20px;
  font-weight: 600;
}

.blogDate {
  position: absolute;
  bottom: 8px;
  font-size: 16px;
  font-weight: 300;
}

.dateIcon {
  display: inline-block;
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 767px) {
  .blogList {
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .blogArea {
    width: 160px;
    height: 160px;
  }
}
