@import "common.scss";
@import "utils.scss";

.blogArea {
  position: relative;
  display: block;
  width: 180px;
  height: 180px;
  text-align: center;
  font-weight: bold;
  &:hover {
    opacity: 0.4;
  }
}

.blogThumbnail {
  z-index: -1;
}

.blogStringArea {
  background: linear-gradient(to bottom, transparent 0%, #000);
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 12px;
  text-align: left;
}

.blogTitle {
  color: #fff;
  font-weight: 500;
}

.blogDate {
  color: #fff;
  font-size: 10px;
  font-weight: 300;
}

.dateIcon {
  display: inline-block;
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 360px) {
  .blogArea {
    width: 160px;
    height: 160px;
  }
}
