.blogTitle {
  margin-left: 12px;
}

.blogList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .blogList {
    justify-content: center;
  }
}
