@import "common.scss";
@import "utils.scss";
@media screen and (max-width: 724px) {
  .profileArea {
    position: relative;
    width: 90%;
    height: 560px;
    margin: 24px auto;
    padding: 16px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(31, 35, 135, 0.3);
    border-radius: 50px;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 32px;
  }

  .iconArea {
    display: block;
  }

  .buttonArea {
    display: block;
    margin: 0 8px;
  }

  .linkIcon {
    width: 40px !important;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;

    &:hover {
      opacity: 0.4;
    }
  }

  .linkTwitter {
    padding: 4px;
    color: #00ACEE;
  }
}

@media screen and (min-width: 725px) {
  .profileArea {
    display: none;
  }
}
