@import "common.scss";
@import "utils.scss";

.profileArea {
  position: relative;
  float: left;
  width: 320px;
  height: 560px;
  margin: 0 80px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(31, 35, 135, 0.3);
  border-radius: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 32px;
}

.iconArea {
  display: block;
}

.buttonArea {
  display: block;
  margin: 0 8px;
}

.linkIcon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  &:hover {
    opacity: 0.4;
  }
}

.linkTwitter {
  padding: 4px;
  color: #00ACEE;
}

@media screen and (max-width: 724px) {
  .profileArea {
    display: none;
    // float: none;
    // margin: 8px auto 0 auto;
    // width: 90vw;
    // height: 320px;
  }
}
