.profileArea {
  position: relative;
  float: left;
  width: 320px;
  height: 560px;
  margin-left: 40px;
  margin-top: 80px;
  padding: 16px;
  text-align: center;
  font-weight: bold;
  background: rgba(232, 255, 255, .4);
  box-shadow: 0 8px 32px 0 rgba(31, 35, 135, 0.6);
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.linkIcon {
  font-size: 42px;
  margin: 0 8px;
  background-color: #fff;
  padding: px;
  border-radius: 50%;
  &:hover {
    opacity: 0.4;
  }
}

@media screen and (max-width: 724px) {
  .profileArea {
    float: none;
    margin: 8px auto 0 auto;
    width: 90vw;
    height: 320px;
  }
}
