.cb {
  clear: both;
}

.textCenter {
  display: inline;
  text-align: center;
}

.fontBold {
  font-weight: bold;
}

.px16 {
  font-size: 16px;
}

.px20 {
  font-size: 20px;
}

.px24 {
  font-size: 24px;
}

.marginright4 {
  margin-right: 4px;
}

.margintop8 {
  margin-top: 8px;
}

.margintop16 {
  margin-top: 16px;
}

.margintop40 {
  margin-top: 40px;
}

.recentlyArea {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  p {
    margin-top: 8px;
  }
}
